 
  </div>
 <!--footer-->
    <div id="footer">

        <div id="footerImg">
               <img src="/imgs/logo/UniMatric-Logo.png">
        </div>

        <div id="footerInfor">
           <p class="roboto">2025 UniMatric. All rights reserved</p>
        </div>

    </div>


</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 <script src="/JS/main.js"></script>

