*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

input, button, textarea, select {
  box-sizing: border-box;
}

img {
  display: block;
}






/* Icon images*/
.c {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  object-fit: contain;
  flex-shrink: 0;
}



#log-in{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#crediatials{
    width: 80%;
    height: 500px;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px white;
    color: white;
}

#crediatials{
  color: black;
  display: grid;
  grid-template-columns: 90% 5%;
  grid-template-rows: 100%;
}

.contentInfor{
   /**/
}



/*navBar style*/
#navBar{
    /*border: 1px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#profile{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.c{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 5px;
}
.c > img{
    width: 100%;
    height: 100%;
}
.c:hover{
    border: 2px dotted ;
}

#nav{
   /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

#out{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*home page style*/
#homeHeader{
  /*  border: 1px solid ;*/
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    justify-content: center;

}


/*subjectsstyle*/
#subjects{
 /* border: 1px solid rgb(203, 203, 209);*/
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#matricSubjects{
   /* border: 1px solid red;*/
   /* width: 45%;*/
   padding: 5px;
   overflow-y: auto;
   height: 100%;

}
#uniCoursers{
   /*border: 1px solid yellow;*/
   width: 45%;
   border-left: 3px dotted ;
}
.subjectsInput{
   /* border: 1px solid ;*/
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
}
.dot{
    border-radius: 50%;
    border: 3px dotted;
    width: 10px;
    height: 10px;
    
}

.subjectsInput >select{
 width: 240px;
 height: 25px;
 border-radius: 10px;
}
.subjectsInput >input{
    width: 50px;
    height: 22px;
    border-radius: 10px;
    border: 1px solid;
    box-sizing: border-box
}

/*adding style*/
#addBtn{
  /*  border: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

#addImg{
    width: 26px;
    height: 26px;
    cursor: pointer;
}
#addImg > img{
    width: 100%;
    height: 100%;
}
#addImg:hover{
   width: 30px;
   height: 30px;
}

/*average score style*/
#avgScore{
     margin-top: 10px;
    display: flex;
     gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}


/*aps score style*/
#apsScore{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

/*check courses style*/
#checkCourses{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
#checkCourses >input{
  width: 110px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}
#checkCourses >input:hover{
  background-color: #000000;
  color: white;
}



/*courses style*/
#uniCoursers{

    padding: 5px;
    overflow-y: auto;
    height: 100%;
}

#results{
  
}
#courseList{
     display: flex;
     justify-content: space-between;
      padding: 5px;
     flex-wrap: wrap;
}

.cardC{
  width: 80%;
 /* height: 200px;*/
  padding: 5px;
}
.cardImg{
    height: 15%;
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    margin-top: 7px;
}

.cardImg > img{
    border: 2px dotted ;
    width: 35px;
    border-radius: 50px;
    cursor: pointer;
}
.cardImg > img:hover{
border: 2px solid;

}
.courseInfor{
     width: 87%;
     padding: 5px;
     border-radius: 20px;
     background-color: white;
    box-shadow: 1px 1px 1px 1px black;
}


.cardImg {
  cursor: pointer;
}

.requirements {
  transition: all 0.3s ease;
}


/* Loader inside card */
.cardC.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}






/*university home style */

#uni{

}

#uniC{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


/*university list style*/
#university-list{
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 490px;
  overflow-y: auto;
}

#numberOfUni{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 2px;
  font-size: 10px;
}

.uniInforCard{
 /* border: 1px solid red;*/
  width: 90%;
  margin-left: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
  background-color: white;
}
.uniInforCard:hover{
  opacity: 0.5;
  border: dotted 2px;
}
.uniInforCard > div > p{
  font-size: 13px;
}


#uniIntro{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px dotted black;
}


/*universities*/
#cput{
  background-image: url("/imgs/logo/cput-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#uct{
  background-image: url("/imgs/logo/uct-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#cut{
  background-image: url("/imgs/logo/cut-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#dut{
  background-image: url("/imgs/logo/dut-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#ufh{
  background-image: url("/imgs/logo/ufh-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#ufs{
  background-image: url("/imgs/logo/ufs-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#uj{
  background-image: url("/imgs/logo/uj-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#ukzn{
  background-image: url("/imgs/logo/ukzn-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#ul{
  background-image: url("/imgs/logo/ul-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#mut{
  background-image: url("/imgs/logo/mut-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#um{
  background-image: url("/imgs/logo/um-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#nmu{
  background-image: url("/imgs/logo/nmu-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#nwu{
  background-image: url("/imgs/logo/nwu-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#ru{
  background-image: url("/imgs/logo/ru-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#smu{
  background-image: url("/imgs/logo/smu-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}



#spu{
  background-image: url("/imgs/logo/spu-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#unisa{
  background-image: url("/imgs/logo/unisa-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#su{
  background-image: url("/imgs/logo/su-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
#tut{
  background-image: url("/imgs/logo/tut-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#vut{
  background-image: url("/imgs/logo/vut-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#univen{
  background-image: url("/imgs/logo/univen-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#wsu{
  background-image: url("/imgs/logo/wsu-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


#uwc{
  background-image: url("/imgs/logo/uwc-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#wits{
  background-image: url("/imgs/logo/wits-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#uz{
  background-image: url("/imgs/logo/uz-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

#up{
  background-image: url("/imgs/logo/up-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10px;
}





/*intro images style*/
#uniIntro{
  border-left: 2px dotted;
}

#introImg{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*display: none;
  visibility: hidden;*/
  flex-wrap: wrap;
}

.introImg{
   width: 390px;
   height: 170px;
   padding: 5px;
}

#introImg1{
  border-bottom: 2px dotted black;
  
}
#introImg1 > div{
  width: 100%;
  height: 100%;
  background-image: url("/imgs/pictures/Learner-book-reading.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
}


#introImg2{
  border-top: 2px dotted black;
}

#introImg2 > div{
  width: 100%;
  height: 100%;
  background-image: url("/imgs/pictures/university-buliding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
}


/*universities information style*/


#aboutVasity{
   background-color: white;
   width: 95%;
   height: 90%;
   border-radius: 40px;
   box-shadow: 1px 1px 1px 1px black;
   display: none;
}

#vasityName{
    display: flex;
    justify-content: center;
   /* border: 1px solid yellow;*/
    flex-wrap: wrap; 
    align-items: center;
}

#vasityInfor1{
  /*border: 1px solid red;*/
  width: 100%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
}
#vasityAddress{
 /* border: 1px solid blue;*/
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#vasity-campus-ranking{
  width: 45%;
  height: 100%;
  /*border: 1px solid green;*/
  display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

#vasityInfor2{
   /* border: 1px solid purple;*/
  width: 100%;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
}

#vasity-application-dates{
  /* border: 1px solid blue;*/
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#vasityWebsites{
    width: 45%;
  height: 100%;
 /* border: 1px solid green;*/
  display: flex;
   flex-direction: column;
   flex-wrap: wrap-reverse;
}


#vasityInfor3{
  /* border: 1px solid purple;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

#prospectors{
  margin-left: 20px;
  height: 35px;
  width: 210px;
  border-radius: 8px;
   background-color: white;
   cursor: pointer;
    border: 1px solid;
}

#vasityClose{
  height: 35px;
  width: 80px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid;
  cursor: pointer;
}
#vasityInfor3 > button:hover{
  background-color: #000000;
  color: #f1eaea;
}
#vasityInfor3 > a > button:hover{
  background-color: #000000;
  color: #f1eaea;
}







/*about us page  style */

#about-us-page{
 /* border: 1px solid red;*/
   padding: 10px;
}

#about-us-page-c{
 /* border: 1px solid green;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

#about-us-img{
 /* border: 1px solid blue;*/
  width: 30%;
  height: 100%;
  background-image: url("/imgs/pictures/Learner-book-reading.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
  flex-direction: column;
}

#social-platforms{
 /* border: 1px solid;*/
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#social-platforms-c{
 /* border: 1px solid red;*/
  width: 100%;
  height: auto;
}
#social-platforms-c > div{
  /*border: 1px solid;*/
  width: 100%;
  height: auto;
  background-color:white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
  padding: 2px;
}

#social-icons{
  /* border: 1px solid red;*/
   display: flex;
   gap:10px;
}
#social-icons >div{
  /*border: 1px solid;*/
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
#social-icons > div > a >img{
  width: 100%;
  height: 100%;
}
#social-icons >div:hover{
  border: 2px dotted;
}







#about-us-infor{
 /* border: 1px solid yellow;*/
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#about-us-infor-a{
  /*border: 2px solid blue;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#about-us-infor-a >div{
  width: 100%;
  height: auto;
  /*border: 1px solid;*/
 background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
  padding: 2px;
}

#why-choose-us{
 /* border: 2px solid red;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#why-choose-us > div {
  width: 100%;
  height: auto;
  /*border: 1px solid;*/
 background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
  padding: 2px;
}


/*sign out */
#sign-out{
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.6);
  z-index: 1000;
  display: none;
}
#sign-out-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f1eaea;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: auto;
}

#sign-out-content > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

#sign-out-content > div > button{
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

#sign-out-content > div > button:hover{
  background-color: #000000;
  color: white;
}










/*footer style*/
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}


#footerImg{
   /* border: 1px solid black;*/
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px ;
}

#footerImg > img{
  width: 100%;
  height: 100%;
}



















/* background gradient */

.gradient-background {
  background: linear-gradient(300deg, #2c2c2c, #f1eaea, #252325);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




/*respons*/


@media (max-width:1374px){

   #log-in{
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px
   }


   #crediatials{
    width: 80%;
    height: auto;

   }

   #homeHeader{
    height: auto;
   }

   #subjects{
    width: 100%;
    display: block;
    height: auto;
   }

   #matricSubjects{
    width: auto;
    height: auto;
    width: 100%;
   }

   #uniCoursers{
    width: 100%;
    height: auto;
    border: none;
   }

   #courseList{
    height: 350px;
   }

   #checkCourses >input{
    margin-right: 20px;
   }


   /*vasity style*/
   .introImg{
   width: 320px;
   height: 150px;
   padding: 5px;
   margin-bottom: 20px;
  }

}

@media (max-width:1068px){
    #log-in{
    height: auto;
   }



   
    #crediatials{
     color: black;
     display: grid;
      grid-template-columns: 100%;
     grid-template-rows: 5% 90% ;
     margin-top: 100px;
     margin-bottom: 100px
  }
   
  #navBar{
      flex-direction: row;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      gap: 10px;
  }



  #nav{
      flex-direction: row;
  }

  #profile{
    display: none;
  }
  .c{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 5px;
  }
  
 

  #uniCoursers{
    margin-bottom: 30px;
  }


  #footer{
    display: none;
  }


  /*vasity style*/

   #university-list{
    width: 100%;
  }
   
  #uniIntro{
    width: 100%;
    border: none;
  }



  .introImg{
   width: 220px;
   height: 100px;
   padding: 5px;
   margin-bottom: 20px;
  }

  #aboutVasity{
    height: auto;
    margin-bottom: 30px;
  }
   #vasityInfor3{
    margin-bottom: 20px;
   }


   /*about us page */
   #about-us-img{
    display: none;
    visibility: none;
   }
   #social-platforms{
    width: 100%;
    height: auto;
   }
   #about-us-infor{
         width: 100%;
    height: auto;
   }


 
}

@media (max-width:536px){

   #log-in{
   height: auto;
   }

    #homeHeader{
       font-size: 10px;
  }

  #uniCoursers{
    border: none;
  }

.subjectsInput{
    flex-wrap: wrap;
}


  /*vasity style*/
  .uniInforCard > div > p{
    font-size: 9px;
  }


  #vasityInfor2{
        height: auto;
        margin-bottom: 10px;
  }
  #vasity-application-dates{
    height: auto;
    width: 100%;
    margin-left: 10px;
  }
  #vasityWebsites{
    height: auto;
    width: 100%;
    margin-left: 10px;
  }


}


@media (max-width:434px){
   #log-in{
    height: auto;
   }


   /*vasity style*/
   #vasityClose{
    margin-left: 20px;
    margin-top: 10px;
   }
}


/*fonts style*/
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}

.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;
}